#!/bin/bash

# Define the user that should run the service.
SERVICE_USER=kafka

# Define the group in which SERVICE_USER belongs.
SERVICE_GROUP=lambda

# The path where Apache Kafka is installed.
INSTALLATION_PATH="{{ installation_path }}"

# The full path of the pid file to use.
PIDFILE="$INSTALLATION_PATH/kafka/kafka.pid"

# The full path of the lock file to use.
LOCKFILE="$INSTALLATION_PATH/kafka/kafka-lock"

# The command that will start Apache Kafka.
START_COMMAND="$INSTALLATION_PATH/kafka/bin/kafka-server-start.sh $INSTALLATION_PATH/kafka/config/server.properties"

start(){
  /sbin/start-stop-daemon --start --background --chuid $SERVICE_USER:$SERVICE_GROUP --make-pidfile --pidfile $PIDFILE --exec $START_COMMAND

  chown $SERVICE_USER $PIDFILE
  chgrp $SERVICE_GROUP $PIDFILE

  RETVAL=$?
  [ $RETVAL -eq 0 ] && touch $LOCKFILE

  chown $SERVICE_USER $LOCKFILE
  chgrp $SERVICE_GROUP $LOCKFILE

  return $RETVAL
}

stop(){
  /sbin/start-stop-daemon --stop --remove-pidfile --pidfile $PIDFILE
  RETVAL=$?
  [ $RETVAL -eq 0 ] && $(rm -f $LOCKFILE)
  return $RETVAL
}

restart(){
  stop
  start
}

RETVAL=0

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart|reload|force-reload)
    restart
    ;;
  condrestart)
    [ -f $LOCKFILE ] && restart || :
    ;;
  status)
    [ -f $LOCKFILE ] && echo "Apache Kafka is running." || echo "Apache kafka is not running."
    RETVAL=$?
    ;;
  *)
    echo "Usage: $0 {start|stop|status|restart|reload|force-reload|condrestart}"
    RETVAL=1
esac

exit $RETVAL

