<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <!-- Choose class from alert-success | alert-info | alert-warning | alert-danger -->
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <!-- Choose icon from fa-check | fa-info | fa-warning | fa-close -->
        <h4 id="title"><i class="icon fa fa-warning"></i> Title</h4>
        <p id="message">Message</p>
      </div> <!-- class -->
    </div> <!-- col-xs-12 -->
  </div><!-- row -->
</section>
