{% if cluster %}
    <ul>
        <h2>Cluster {{ cluster.id }}</h2>
        {% if servers_list %}
            <ul>
            {% for server in servers_list %}
                <li>
                    <h3>Server {{ server.id }}</h3>
                    <span><ul>
                        <li>ID         : {{ server.id }}</li>
                        <li>CPUs       : {{ server.cpus }}</li>
                        <li>RAM        : {{ server.ram }}</li>
                        <li>Disk       : {{ server.disk }}</li>
                        <li>Public ip  : {{ server.pub_ip }}</li>
                        <li>Private ip : {{ server.priv_ip }}</li>
                    </ul></span>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No servers.</p>
        {% endif %}
    </ul>
{% else %}
<p>No clusters.</p>
{% endif %}
