<h1>Lambda Instance Creation</h1>

<p>After creating a LoD service VM, one can create a Lambda Instance through the control panel of the service VM. The images below will guide you step by step in the creation of your first Lambda Instance.</p>

<p><img src="assets/img/usage1-6.png" alt="usage1-6.png" width="750"></p>

<ol>
  <li>Login the service dashboard using your ~okeanos token(you can find your ~okeanos token <a href="https://accounts.okeanos.grnet.gr/ui/api_access">here</a>)</li>
  <li>Select Instances from the upper left menu of options</li>
  <li>On the main window select the button "Create New Instance"</li>
  <li>Fill your Lambda Instance specification in the form provided and click "Submit" when ready</li>
  <li>Note the status of your new Lambda Instance is updated while it is being deployed and configured</li>
</ol>
At the end your Lambda Instance will be ready to use.<br>

<p>On the <a href="https://cyclades.okeanos.grnet.gr/ui/">Cyclades web interface</a> of the ~okeanos service you should now be able to see the new VMs that have been utilized for the Lambda on Demand Service.</p>
