{{#if (compare lambdaInstance.status_message '===' "DESTROYED")}}
  <div>
    <button name="del-btn" id="del-btn" class="btn btn-danger btn-xs disabled" disabled>Delete</button>
  </div>
{{else if (compare lambdaInstance.status_message '===' "CLUSTER_FAILED")}}
  <div>
    <button name="del-btn" id="del-btn" class="btn btn-danger btn-xs disabled" disabled>Delete</button>
  </div>
{{else}}
  <div>
    <button name="del-btn" id="del-btn" class="btn btn-danger btn-xs" {{action "delete" lambdaInstance on="click"}} >Delete</button>
  </div>

{{/if}}
