<div>
  <form class="col-lg-12"  {{action "upload" app on="submit"}} method="post">
    <div class="input-group input-group-lg col-sm-offset-3 col-sm-6">
      <h2>Upload an application</h2>

      {{input value=description placeholder="File description" type="textarea" class="center-block form-control input-lg" id="description"}}

      <br><br><br>

      Application type:
      <select name="type">
        <option value="batch">batch</option>
        <option value="streaming" selected>streaming</option>
      </select>

      <br><br>

      {{input value=project_name placeholder="Project name" type="textarea" class="center-block form-control input-lg" id="project_name"}}

      <br><br><br>

      <input type="file" id="file" name="file" value=file>

      <br>

      <button type="submit" id="id_login_submit_button" class="btn btn-lg btn-primary">Submit</button>
    </div>
  </form>

</div>
