<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>λ</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"> <img src="assets/img/okeanos-ico.png" alt="Okeanos" style="margin-bottom:5px;margin-right: 3px;"><b>λambda</b>
      </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="assets/img/default_blogger.png" class="user-image" alt="User Image">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="user-menu">
              {{#if session.isAuthenticated}}
                <li role="presentation"> <a {{action 'invalidateSession'}}>Logout</a></li>
              {{/if}}
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/img/default_blogger.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="index.html">
            <i class="fa fa-dashboard"></i> <span>Home</span>
          </a>
        </li>
        <li>
          <a href="index.html">
            <i class="fa fa-laptop"></i> <span>Instances</span>
          </a>
        </li>
        <li>
          <a href="index.html">
            <i class="fa fa-th"></i> <span>Applications</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
    </section>

    <!-- Main content -->
    {{outlet}}
    <!-- /.content -->
  </div><!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="row">
      <div class="col-md-12">

        <a href="http://europa.eu/" target="_blank" title="European Union"><img src="assets/img/european_union.png" alt="European Union" width="130"></a>
        <a href="http://www.digitalplan.gov.gr/portal/" target="_blank" title="Digital Greece"><img src="assets/img/digitalgreece.png" alt="Digital Greece" width="160"></a>
        <a href="http://www.espa.gr/en/Pages/Default.aspx" target="_blank" title="NSRF"><img src="assets/img/NSRF.png" alt="NSRF" width="70"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        The project is co-financed by Greece and the European Union.
      </div>
    </div>
    <div class="pull-right ">
      <a href="http://okeanos.grnet.gr/" target="_blank" title="Okeanos Project"><img src="assets/img/okeanos_logo_powered_by.svg" alt="Okeanos" width="130"></a>
    </div>
<strong>Copyright &copy; 2015 <a href="http://www.grnet.gr" target="_blank">GRNET S.A.</a>.</strong> All rights reserved.
    <div class="row">
    </div>
  </footer>
</div><!-- ./wrapper -->
