<h2 id="title">Create a Lambda Instance</h2>

{{create-lambda-instance-form newLambdaInstance=model.newLambdaInstance
                              userPublicKeys=model.userPublicKeys
                              userOkeanosProjects=model.userOkeanosProjects
                              VMParameterValues=model.VMParameterValues}}

