<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Lambda Project</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="row">
            <div class="col-md-12">
              <div class="pad"> Mpla Mpla Mpla
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.box-body -->
      </div><!--box box-primary-->
    </div><!--col-xs-12-->
  </div><!--row -->

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Your statistics</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <div class="pad">
                Your statistics are
              </div>
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-4">
              <div class="small-box bg-blue">
                <div class="inner">
                  <h3>150</h3>
                  <p>Lambda Instances</p>
                </div>
                <div class="icon">
                  <i class="fa fa-laptop"></i>
                </div>
                <a href="instances.html" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-4">
              <div class="small-box bg-orange">
                <div class="inner">
                  <h3>150</h3>
                  <p>Applications Uploaded</p>
                </div>
                <div class="icon">
                  <i class="fa fa-th"></i>
                </div>
                <a href="applications.html" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>	<!--class="small-box bg-orange"-->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.box-body -->
      </div>
    </div>
  </div><!--row-->
  <div class="row" style="padding-left:14px;padding-right:14px;">
    <div class="col-md-4">
      <!-- DIRECT CHAT DANGER -->
      <div class="box box-success ">
        <div class="box-header with-border">
          <h3 class="box-title">Example 1</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <!-- Conversations are loaded here -->
              With this example you can ....
            </div><!--col-->
          </div><!--row-->
        </div><!--class="box-body"-->
      </div> <!--box-->
    </div><!--col-md-3 -->
    <div class="col-md-4">
      <!-- DIRECT CHAT DANGER -->
      <div class="box box-warning ">
        <div class="box-header with-border">
          <h3 class="box-title">Example 2</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <!-- Conversations are loaded here -->
              With this example you can ....
            </div><!--col-->
          </div><!--row-->
        </div><!--class="box-body"-->
      </div> <!--box-->
    </div><!--col-md-3 -->

    <div class="col-md-4">
      <!-- DIRECT CHAT DANGER -->
      <div class="box box-danger ">
        <div class="box-header with-border">
          <h3 class="box-title">Example 3</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <!-- Conversations are loaded here -->
              With this example you can ....
            </div><!--col-->
          </div><!--row-->
        </div><!--class="box-body"-->
      </div> <!--box-->
    </div><!--col-md-3 -->
  </div>  <!--row-->
</section><!-- /.content -->
