<div style="position: absolute;top:39%;bottom: 0;left: 47%;right: 0;margin: auto;">
  <h3>Loading data, please wait...</h3>
</div>
<div class="spinner-loader" style="position: absolute;top:0;bottom: 0;left: 15%;right: 0;margin: auto;">
</div>
