<div class="row">
 <div class="col-xs-12">
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title">Questions and answers about Lambda Applications</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
      <div class="row">
        <div class="col-md-12">
          <div class="pad"> You may find information about how to deploy, run and manage your Lambda Applications
          </div>
        </div><!-- /.col -->

      </div><!-- /.row -->
    </div><!-- /.box-body -->
  </div><!--box box-primary-->
</div><!--col-xs-12-->  
</div><!--row -->


<div class="row" >
  <div class="col-md-4">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title">
          <span class="label label-warning"><i class="fa fa-th"></i></span>               
          How to create my own Application</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
         <div class="row">
          <div class="col-md-12"> 
            <!-- Conversations are loaded here -->
            Follow the steps described in this section to create your own Application
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-3 pull-right"> 
            {{#link-to 'faqs.lambda-application.create'}}
              <i class="btn-sm btn-success ">More</i>
            {{/link-to}}
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->
  <div class="col-md-4">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title">
          <span class="label label-warning"><i class="fa fa-th"></i></span>               
          How to run my Application</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
         <div class="row">
          <div class="col-md-12"> 
            <!-- Conversations are loaded here -->
            Follow the steps described in this section to run your own Application
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-3 pull-right"> 
            {{#link-to 'faqs.lambda-application.run'}}
              <i class="btn-sm btn-success ">More</i>
            {{/link-to}}
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->

  <div class="col-md-4">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title">
          <span class="label label-warning"><i class="fa fa-th"></i></span>               
          How to observe my running Application</h3>

        </div><!-- /.box-header -->
        <div class="box-body">
         <div class="row">
          <div class="col-md-12"> 
            <!-- Conversations are loaded here -->
            Follow the steps described in this section to observe your running Application
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-3 pull-right"> 
            {{#link-to 'faqs.lambda-application.observe-running'}}
              <i class="btn-sm btn-success ">More</i>
            {{/link-to}}
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->



</div>  <!--row-->
<div class="row" >
  <div class="col-md-4">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title">
          <span class="label label-warning"><i class="fa fa-th"></i></span>               
          How to view the results on my Application</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
         <div class="row">
          <div class="col-md-12"> 
            <!-- Conversations are loaded here -->
            Follow the steps described in this section to view the results of your Application
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-3 pull-right"> 
            {{#link-to 'faqs.lambda-application.view-results'}}
              <i class="btn-sm btn-success ">More</i>
            {{/link-to}}
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->
  <div class="col-md-4">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title">
          <span class="label label-warning"><i class="fa fa-th"></i></span>               
          How to export my master dataset</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
         <div class="row">
          <div class="col-md-12"> 
            <!-- Conversations are loaded here -->
            Follow the steps described in this section to export your master dataset
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-3 pull-right"> 
            {{#link-to 'faqs.lambda-application.export-data'}}
              <i class="btn-sm btn-success ">More</i>
            {{/link-to}}
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->

  <div class="col-md-4">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title"> 
          <span class="label label-warning"><i class="fa fa-th"></i></span>               
          How to check if my Application is running</h3>

        </div><!-- /.box-header -->
        <div class="box-body">
         <div class="row">
          <div class="col-md-12"> 
            <!-- Conversations are loaded here -->
            Follow the steps described in this section to check if your Application is running
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-3 pull-right"> 
            {{#link-to 'faqs.lambda-application.check-running'}}
              <i class="btn-sm btn-success ">More</i>
            {{/link-to}}
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->
</div>  <!--row-->
