#!/bin/bash

# Source environment file to make sure HADOOP_HOME variable is available.
source /etc/environment

# The path where Apache Flink is installed.
INSTALLATION_PATH="{{ installation_path }}"

# The full path of the pid file to use.
PIDFILE="$INSTALLATION_PATH/flink/flink.pid"

# The full path of the lock file to use.
LOCKFILE="$INSTALLATION_PATH/flink/flink-lock"

# The command that will start Apache Flink.
START_COMMAND="$INSTALLATION_PATH/flink/bin/yarn-session.sh -n {{ number_of_taskmanagers }} -tm {{ ram_per_task_manager }}"

# The command that will stop Apache Flink. Note that, HADOOP_HOME home variable should be set outside from this script and
# before Flink's deployment.
STOP_COMMAND="$HADOOP_HOME/bin/yarn application --kill"

# The command that will return the status of Apache Flink.
STATUS_COMMAND="$HADOOP_HOME/bin/yarn application -status"

start(){
  nohup $START_COMMAND &
  RETVAL=$?
  [ $RETVAL -eq 0 ] && touch $LOCKFILE
  return $RETVAL
}

stop(){
  id=$($HADOOP_HOME/bin/yarn application --list | grep "Flink session" | cut -f1)
  nohup $STOP_COMMAND $id &
  RETVAL=$?
  [ $RETVAL -eq 0 ] && $(rm -f $LOCKFILE)
  return $RETVAL
}

restart(){
  stop
  start
}

RETVAL=0

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart|reload|force-reload)
    restart
    ;;
  condrestart)
    [ -f $LOCKFILE ] && restart || :
    ;;
  status)
    id=$($HADOOP_HOME/bin/yarn application --list | grep "Flink session" | cut -f1)
    $STATUS_COMMAND $id
    RETVAL=$?
    ;;
  *)
    echo "Usage: $0 {start|stop|status|restart|reload|force-reload|condrestart}"
    RETVAL=1
esac

exit $RETVAL

