---
  - name: Install python-dev, sudo and git packages.
    apt: name={{ item }} state=latest
    with_items:
      - python-dev
      - sudo
      - git

  - name: Include apache2 tasks.
    include: apache-install.yml

  - name: Include postgresql-install tasks.
    include: postgresql-install.yml

  - name: Install Django using Pip.
    pip: name=Django

  - name: Download Django code from Github.
    git: repo=https://github.com/grnet/okeanos-LoD.git dest={{ repository_download_path }}/okeanos-LoD version=devel # version can be used to select a branch.

  - name: Change repository permissions.
    file: path={{ repository_download_path }} owner=celery group=celery recurse=yes

  - name: Install Fokia requirements.
    pip: requirements={{ repository_download_path }}/okeanos-LoD/core/requirements.txt

  - name: Install Fokia.
    command: python setup.py install chdir="{{ repository_download_path }}/okeanos-LoD/core/"

  - name: Setup Django database configuration.
    template: src=settings.py.j2 dest={{ repository_download_path}}/okeanos-LoD/webapp/webapp/settings.py
    notify:
      - django_dbs_migrate
