#!/bin/bash

# The full path of the lock file to use.
LOCKFILE="/root/lambda-lock"

start(){
  # Assert that there is no other Lambda instance, created with this script, running.
  [ -f $LOCKFILE ] && return 0

  # Start Apache HDFS.
  echo "Starting Apache HDFS..."
  /etc/init.d/hdfs-init start
  returnedValue=$?
  if [ $returnedValue -eq 0 ]
  then
    echo "Apache HDFS has been started!"

    # Force Apache HDFS to exit safe mode so that Apache Flink can be started later on this script.
    {{ hadoop_home }}/bin/hdfs dfsadmin -safemode leave
  else
    echo "Apache HDFS has failed to start with returned code $returnedValue."
  fi

  # Start Apache Yarn.
  echo "Starting Apache Yarn..."
  /etc/init.d/yarn-init start
  returnedValue=$?
  if [ $returnedValue -eq 0 ]
  then
    echo "Apache Yarn has been started!"
  else
    echo "Apache Yarn has failed to start with returned code $returnedValue."
  fi

  # Start supervisord on master node.
  echo "Starting Supervisord..."
  supervisord -c /etc/supervisor/supervisord.conf --logfile=/root/supervisord.log
  returnedValue=$?
  if [ $returnedValue -eq 0 ]
  then
    echo "Supervisord on master node has been started!"
  else
    echo "Supervisord on master node has failed to start with returned code $returnedValue."
  fi

  # Start Apache Zookeeper.
  echo "Starting Apache Zookeeper..."
  supervisorctl start apache_zookeeper
  # Wait for Apache Zookeeper to start.
  while [ "$(supervisorctl status apache_zookeeper | tr -s ' ' | cut -f2 -d' ')" == "STARTING" ] 
  do
    sleep 10
  done
  apache_zookeeper_status=$(supervisorctl status apache_zookeeper | tr -s ' ' | cut -f2 -d' ')
  if [ "$apache_zookeeper_status" != "RUNNING" ]
  then
    echo "Apache Zookeeper has failed to start with code $apache_zookeeper_status."
  else
    echo "Apache Zookeeper has been started!"
  fi

  # Start Apache Kafka on master node.
  echo "Starting Apache kafka..."
  supervisorctl start apache_kafka
  # Wait for Apache Kafka to start.
  while [ "$(supervisorctl status apache_kafka | tr -s ' ' | cut -f2 -d' ')" == "STARTING" ] 
  do
    sleep 10
  done
  apache_kafka_status=$(supervisorctl status apache_kafka | tr -s ' ' | cut -f2 -d' ')
  if [ "$apache_kafka_status" != "RUNNING" ]
  then
    echo "Apache kafka has failed to start with code $apache_kafka_status."
  else
    echo "Apache kafka has been started!"
  fi

  # Start Apache Kafka on each slave node.
  for node in $(cat /etc/hosts | grep "snf" | cut -f2)
  do
    if [ "$node" == "$(hostname).local" ]
    then
      continue
    fi
    echo "Starting Apache Kafka at $node..."
    ssh -l root $node supervisord -c /etc/supervisor/supervisord.conf --logfile=/root/supervisord.log
    echo "Supervisord on $node has been started!"
    ssh -l root $node supervisorctl start apache_kafka
   # Wait for Apache kafka to start.
   while [ "$(ssh -l root $node supervisorctl status apache_kafka | tr -s ' ' | cut -f2 -d' ')" == "STARTING" ] 
   do
     sleep 10
   done
   apache_kafka_status=$(ssh -l root $node supervisorctl status apache_kafka | tr -s ' ' | cut -f2 -d' ') 
   if [ "$apache_kafka_status" != "RUNNING" ]
   then
     echo "Apache Kafka at $node has failed to start with code $apache_kafka_status."
   else
     echo "Apache Kafka at $node has been started!"
   fi
  done

  # Start Apache Flink.
  echo "Starting Apache Flink..."
  supervisorctl start apache_flink
  # Wait for Apache Flink to start.
  while [ "$(supervisorctl status apache_flink | tr -s ' ' | cut -f2 -d' ')" == "STARTING" ] 
  do
    sleep 10
  done
  apache_flink_status=$(supervisorctl status apache_flink | tr -s ' ' | cut -f2 -d' ')
  if [ "$apache_flink_status" != "RUNNING" ]
  then
    echo "Apache Flink has failed to start with code $apache_flink_status."
  else
    echo "Apache Flink has been started!"
  fi

  # Create a lock file to prevent multiple instantiations.
  touch $LOCKFILE

  return 0
}

stop(){
  # Stop Apache Flink.
  echo "Stopping Apache Flink..."
  supervisorctl stop apache_flink
  apache_flink_status=$(supervisorctl status apache_flink | tr -s ' ' | cut -f2 -d' ')
  if [ "$apache_flink_status" == "STOPPED" ]
  then
    echo "Apache Flink has been stopped!"
  else
    echo "Apache Flink has failed to stop with returned code $apache_flink_status."
  fi

  # Stop Apache Yarn.
  echo "Stopping Apache Yarn..."
  /etc/init.d/yarn-init stop
  returnedValue=$?
  if [ $returnedValue -eq 0 ]
  then
    echo "Apache Yarn has been stopped!"
  else
    echo "Apache Yarn has failed to stop with returned code $returnedValue."
  fi

  # Stop Apache HDFS.
  echo "Stopping Apache HDFS..."
  /etc/init.d/hdfs-init stop
  returnedValue=$?
  if [ $returnedValue -eq 0 ]
  then
    echo "Apache HDFS has been stopped!"
  else
    echo "Apache HDFS has failed to stop with returned code $returnedValue."
  fi

  # Stop Apache Kafka on master node.
  supervisorctl stop apache_kafka
  apache_kafka_status=$(supervisorctl status apache_kafka | tr -s ' ' | cut -f2 -d' ')
  if [ "$apache_kafka_status" == "STOPPED" ]
  then
    echo "Apache kafka has been stopped!"
  else
    echo "Apache kafka has failed to stop with returned code $apache_kafka_status"
  fi

  # Stop Apache Kafka on each slave node.
  for node in $(cat /etc/hosts | grep "snf" | cut -f2)
  do
    if [ "$node" == "$(hostname).local" ]
    then
      continue
    fi
    echo "Stopping Apache Kafka at $node..."
    ssh -l root $node supervisorctl stop apache_kafka
    apache_kafka_status=$(ssh -l root $node supervisorctl status apache_kafka | tr -s ' ' | cut -f2 -d' ')
    echo "Stopping Supervisord at $node..."
    ssh -l root $node supervisorctl shutdown
    if [ "$apache_kafka_status" == "STOPPED" ]
    then
      echo "Apache Kafka at $node has been stopped!"
    else
      echo "Apache Kafka at $node has failed to stop with returned code $apache_kafka_status"
    fi
  done

  # Stop Apache Zookeeper.
  supervisorctl stop apache_zookeeper
  apache_zookeeper_status=$(supervisorctl status apache_zookeeper | tr -s ' ' | cut -f2 -d' ')
  if [ "$apache_zookeeper_status" == "STOPPED" ]
  then
    echo "Apache Zookeeper has been stopped!"
  else
    echo "Apache Zookeeper has failed to stop with returned code $apache_zookeeper_status"
  fi

  # Stop Supervisord on master node.
  supervisorctl shutdown
  returnedValue=$?
  if [ $returnedValue -eq 0 ]
  then
    echo "Supervisord on master node has been stopped!"
  else
    echo "Supervisord on master node has failed to stop with returned code $returnedValue."
  fi

  # Remove lock file.
  rm -f $LOCKFILE

  return 0
}

restart(){
  stop
  start
}

RETVAL=0

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart|reload|force-reload)
    restart
    ;;
  condrestart)
    [ -f $LOCKFILE ] && restart || :
    ;;
  status)
    # If the lock file exists, then the Lambda instance is running.
    [ -f $LOCKFILE ] && echo "Lambda instance is running." || echo "Lambda instance is not running."
    RETVAL=$?
    ;;
  *)
    echo "Usage: $0 {start|stop|status|restart|reload|force-reload|condrestart}"
    RETVAL=1
esac

exit $RETVAL

