<!-- Content Header (Page header) -->
<section class="content-header">
  <!-- <h1>
    Statistics
  </h1> -->
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">位 Service</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="row">
            <div class="col-md-12">
              <div class="pad">Welcome to ~okeanos 位 service pages. Through these pages you can find general information regarding the usage of the 位 service.
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.box-body -->
      </div><!--box box-primary-->
    </div><!--col-xs-12-->
  </div><!--row -->

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Usage Statistics</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="small-box bg-blue">
                <div class="inner">
                  {{#each model.lambdaInstancesCount as |lambdaInstancesCount|}}
                  <h3>{{lambdaInstancesCount.count}}</h3>
                  {{/each}}
                  <p>Lambda Instances</p>
                </div>
                <div class="icon">
                  <i class="fa fa-laptop"></i>
                </div>
              </div>
            </div><!-- /.col -->
            <div class="col-md-4 col-sm-4">
              <div class="small-box bg-orange">
                <div class="inner">
                  {{#each model.applicationsCount as |applicationsCount|}}
                  <h3>{{applicationsCount.count}}</h3>
                  {{/each}}
                  <p>Applications Uploaded</p>
                </div>
                <div class="icon">
                  <i class="fa fa-th"></i>
                </div>
              </div>	<!--class="small-box bg-orange"-->
            </div><!-- /.col -->
            <div class="col-md-4 col-sm-4">
              <div class="small-box bg-green">
                <div class="inner">
                  {{#each model.usersCount as |usersCount|}}
                  <h3>{{usersCount.count}}</h3>
                  {{/each}}
                  <p>Subscribed Users</p>
                </div>
                <div class="icon">
                  <i class="fa fa-users"></i>
                </div>
              </div>  <!--class="small-box bg-orange"-->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.box-body -->
      </div>
    </div>
  </div><!--row-->
  <div class="row">
    <div class="col-xs-12">
      <!-- DIRECT CHAT DANGER -->
      <div class="box box-success ">
        <div class="box-header with-border">
          <h3 class="box-title">Short guide on using the Lambda on Demand service</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <!-- Conversations are loaded here -->
              <p>The Lambda on Demand service runs on top of GRNET's ~okeanos IaaS public cloud. Users of the ~okeanos service can use the Lambda on Demand service in order to instantiate and manage their own Lambda Instances (clusters of VMs utilizing the <a href="http://lambda-architecture.net/">位 (lambda) architectural prototype</a>) with ease and comfort.</p>

              <p>The Lambda on Demand service utilizes Apache Flink on a backend YARN/HDFS installation and Apache Kafka as the data ingestion layer.</p>

              <p>In order to use the Lambda on Demand (LoD for brevity) service an ~okeanos user will first need to spin up a LoD service VM using the publicly available Lambda Service VM image file.<i>We recommend using at least 4 CPUs, 4GB of RAM and 40GB disk size for the LoD service VM.</i></p>

              <p><img src="assets/img/service_vm_image.png" alt="service_vm_image.png" width="500"></p>

              <p>Once the LoD service VM is up and running the user may direct his/her browser to the login page available at the following link:</p>

              <p><b>https://&#123;&#123;hostname&#125;&#125;/</b></p>

              <p><i>Note that one will need to replace the "&#123;&#123;hostname&#125;&#125;" above with the hostname given by the ~okeanos service (usually something of the form snf-XXXXXX.vm.okeanos.grnet.gr) for the LoD service VM.</i></p>

              <h1>Lambda Instance Creation</h1>

              <p>The images below will guide you step by step in the creation of your first Lambda Instance.</p>

              <p><img src="assets/img/usage1-6.png" alt="usage1-6.png" width="750"></p>

              <ol>
                <li>Login the service dashboard using your ~okeanos token</li>
                <li>Select Instances from the upper left menu of options</li>
                <li>On the main window select the button "Create New Instance"</li>
                <li>Fill your Lambda Instance specification in the form provided and select "Submit" when ready</li>
                <li>Note the status of your new Lambda Instance change while it is being deployed and configured</li>
                <li>At the end your Lambda Instance will be ready to use</li>
              </ol>

              <p>On the <a href="https://cyclades.okeanos.grnet.gr/ui/">Cyclades web interface</a> of the ~okeanos service you should now be able to see the new VMs that have been utilized as a full blown Lambda Instance.</p>

              <h1>Lambda Applications</h1>

              <p>One may find an excellent guide on writing Lambda Applications on the landing page of the LoD service. The source code exhibited through that example is available on <a href="https://github.com/grnet/okeanos-LoD/tree/master/example">github</a>.</p>

              <p>In order to upload, deploy and start running a Lambda Application on top of a Lambda Instance the user of the service will go through the workflow shown below, again using the Web UI of the LoD service VM.</p>

              <p><img src="assets/img/usage7-12.png" alt="usage7-12.png" width="750"></p>

              <ol start="7">
                <li>Select Applications from the upper left menu of options</li>
                <li>On the main window select the button "Upload an Application"</li>
                <li>Fill in the form, select the jar file to upload and press "Submit" when ready</li>
                <li>Note the progress bar as the application uploads</li>
                <li>Upload is completed</li>
                <li>On the Applications page select the Application you have just uploaded (click on its name)</li>
              </ol>

              <p><img src="assets/img/usage13-15.png" alt="usage13-15.png" width="750"></p>

              <ol start="13">
                <li>Select the "Deploy on a Lambda Instance" button</li>
                <li>On the list of Lambda Instances available select the one you want to use for running this specific application and</li>
                <li>Select to start your application once it has been deployed on the Lambda Instance</li>
              </ol>

              <h1>Notes and advisories</h1>

              <p>Each LoD Service VM a user instantiates ships with a self signed certificate key pair. We strongly recommend users of the LoD Service VM to replace the self signed key pair with one they may obtain from a Certificate Authority they trust. The files that should be replaced are <code>/etc/apache2/ssl/server.key</code> (private key) and <code>/etc/apache2/ssl/server.crt</code> (public certificate) respectively. Once the change is applied the apache web service should be restarted in order for the changes to take effect:</p>

              <pre>
# service apache2 restart
              </pre>

            </div><!--col-->
          </div><!--row-->
        </div><!--class="box-body"-->
      </div> <!--box-->
    </div><!--col-md-3 -->
  </div>  <!--row-->
</section><!-- /.content -->
