<section class="content">
  <div class="row">
   <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">What are the Kafka topics and how do i use them</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="row">
          <div class="col-md-12">
            <div class="pad"> Follow the steps described in this section to learn more about the kafka topics.
            </div>
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!--box box-primary-->
  </div><!--col-xs-12-->
</div><!--row -->


<div class="row">
  <div class="col-xs-12">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title">Short guide on Apache Kafka topics and how to use them</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <h1>Apache Kafka topics</h1>

            <p>
              Apache Kafka is the data ingestion layer used by a Lambda Instance. It maintains feeds of messages in categories called topics. Each topic has its own name and can be used either to write or read data from it. Upon creation of a Lambda Instance, you can specify the names of the Kafka topics you want to be created. If no name is provided, then three topics will be created, named "input", "stream-output" and "batch-output". The topics created on a Lambda Instance are categorized to "input" and "output" topics. All the data sent to an input topic, will be automatically appended to the master dataset of the Lambda Instance.<br>

              To get more information about Apache Kafka, you can visit <a href="https://kafka.apache.org">kafka.apache.org</a>
            </p>

            <p>
              You can use Apache Kafka topics to send data to a Lambda Application of yours and also
              receive the results of the processing of these data. Note that your Application should be {{#link-to 'faqs.lambda-application.create'}}configured properly{{/link-to}} in order to send the results to topics, they will <b>NOT</b> be sent there by default. In order send and receive data from an Apache Kafka topic, you can use the <a href="https://github.com/grnet/okeanos-LoD/tree/devel/example/kafka_producer">kafka producer</a> and <a href="https://github.com/grnet/okeanos-LoD/tree/devel/example/kafka_consumer">kafka consumer</a> we have created responsively. Follow the README.md file of each program to get information regarding its usage. It goes without saying that you can create your own producers and consumers to send and receive data from Apache Kafka if our implementations doesn't cover your needs.
            </p>
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->
</div>  <!--row-->
</section><!-- /.content -->
