<section class="content">
  <div class="row">
   <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">How to start/stop my lambda instance</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="row">
          <div class="col-md-12">
            <div class="pad"> Follow the steps below to start/stop your lambda instances.
            </div>
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!--box box-primary-->
  </div><!--col-xs-12-->
</div><!--row -->

<div class="row">
  <div class="col-xs-12">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title">Short guide on how to start and stop a Lambda Instance</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <h1>Start-Stop Lambda Instance</h1>

            <p>
              A Lambda Instance starts automatically after it has been created. This means that it is ready to accept and execute your Applications.
              You have the ability to Stop and then Start again a Lambda Instance. To do that, follow the guide below.
            </p>

            <div class="row margin-bottom">
              <div class="col-sm-6">
                <div class="row margin-bottom">
                  <div class="col-sm-3">
                    <a href="#" data-toggle="modal" data-target="#LoginPage">
                      <img class="img-responsive" src="assets/img/faqs/login-sm.png" alt="Login" title="Login" >
                    </a>
                    <p class="text-center">Step 1</p>
                  </div>
                  <div class="col-sm-1 text-center">
                    <span class="fa fa-arrow-right"></span>
                  </div>
                  <div class="col-sm-3">
                    <a href="#" data-toggle="modal" data-target="#createStep2">
                      <img class="img-responsive" src="assets/img/faqs/lambda-instance/create-sm.png" alt="Home Page" title="Home Page">
                    </a>
                    <p class="text-center">Step 2</p>
                  </div>
                  <div class="col-sm-1 text-center">
                    <span class="fa fa-arrow-right"></span>
                  </div>
                  <div class="col-sm-3">
                    <a href="#" data-toggle="modal" data-target="#startstop">
                      <img class="img-responsive" src="assets/img/faqs/lambda-instance/start-stop-sm.png" alt="Start Stop Lambda Instance" title="Start Stop Lambda Instance">
                    </a>
                    <p class="text-center">Step 3</p>
                  </div>
                </div>
              </div>
            </div>

            <ol>
              <li>
                Log into the LoD Service VM using your <a href="https://accounts.okeanos.grnet.gr/ui/api_access">~okeanos token</a>.
              </li>
              <li>
                From the sidebar, select "Instances".
              </li>
              <li>
                From the list of Lambda Instances that appear, choose the corresponding "Start" or "Stop" button. Notice that when the Lambda Instance
                has been started, the "Start" button is disabled and when the Lambda Instance has been stopped the "Stop" button is disabled.
              </li>
            </ol>

            <h1>
              Notes
            </h1>

            <p>
              Note that it takes some time to start and stop a Lambda Instance. Moreover, after a Lambda Instance is started, Apache Flink might take some minutes before it is ready to execute your Applications.
            </p>
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->
</div>  <!--row-->
</section><!-- /.content -->

<!-- MODALS START -->
<!-- modal login -->
<div class="modal fade" id="LoginPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Step 1</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="assets/img/faqs/login.png" alt="Login" title="Login">
      </div>
      <div class="modal-footer">
        Log into the service dashboard using your ~okeanos token
      </div>
    </div>
  </div>
</div>
<!-- modal login  end-->
<!-- modal step2-->
<div class="modal fade" id="createStep2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Step 2</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="assets/img/faqs/create.png" alt="Home" title="Home" >
      </div>
      <div class="modal-footer">
        Select Instances from the upper left menu of options
      </div>
    </div> <!--<div class="modal-content">-->
  </div><!--<div class="modal-dialog"-->
</div><!--<div class="modal fade" -->
<!--- modal step3 -->
<div class="modal fade" id="startstop" tabindex="-1" role="dialog" aria-labelledby="startstop">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createStep3">Step 3</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="assets/img/faqs/lambda-instance/start-stop.png" alt="Start Stop Lambda Instance" title="Start Stop Lambda Instance" >
      </div>
      <div class="modal-footer">
        On the list of Lambda Instances that appear, choose the corresponding "Start" or "Stop" button.
      </div>
    </div> <!--<div class="modal-content">-->
  </div><!--<div class="modal-dialog"-->
</div><!--<div class="modal fade" -->
<!-- MODALS END -->
