<div>

{{#if sameUpload}}
<div id="id_alert_wrongtoken" class="alert alert-dismissable alert-danger col-sm-6 col-sm-offset-3">
  <strong>The application with this name already exists.</strong> Please try another file.
</div>
{{/if}}

{{#if successUpload}}
<div class="alert alert-success col-sm-6 col-sm-offset-3">
  <strong>Success!</strong> The application was uploaded successfully.
</div>
{{/if}}

{{#if serverError}}
<div id="id_alert_wrongtoken" class="alert alert-dismissable alert-danger col-sm-6 col-sm-offset-3">
  <strong>Internal server error.</strong> Please try later.
</div>
{{/if}}

  <form class="col-lg-12" role="form" enctype="multipart/form-data" method="post" id="upload-app-form" {{action "upload" on="submit"}}>
    <div class="input-group input-group-lg col-sm-offset-3 col-sm-6">
      <h2>Upload an application</h2>

      <input type="textarea" name="description" class="center-block form-control input-lg" id="description" placeholder="File description"><br>

      <br><br>

      Application type:
      <select name="type">
        <option value="batch">batch</option>
        <option value="streaming" selected>streaming</option>
      </select>

      <br><br>

      <p>
        ~okeanos Project:
        <select name="okeanos_project">
          {{#each model.userOkeanosProjects as |project|}}
            <option value={{project.name}}>{{project.name}}</option>
          {{/each}}
        </select>
      </p>

      <br>

      {{input value=file type="file" name="file" id="file"}}

      <br>

      <button type="submit" id="id_login_submit_button" class="btn btn-lg btn-primary">Submit</button>
    </div>
  </form>
</div>
