<section class="content">
  <div class="row">
   <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">How to check what is running</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="row">
          <div class="col-md-12">
            <div class="pad"> Follow the steps described in this section to check what is running.
            </div>
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!--box box-primary-->
  </div><!--col-xs-12-->  
</div><!--row -->

<div class="row">
  <div class="col-xs-12">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title">Short guide on checking which Applications are running</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <h1>Check Running Applications</h1>

            <p>
              To view your Lambda Applications you can follow the guide show below.
            </p>

            <p><img src="assets/img/check-applications.png" alt="check-applications.png" width="1000" height="250"></p>

            <ol>
              <li>
                Log in the LoD Service VM using your ~okeanos token.
              </li>

              <li>
                From the sidebar, select "Applications".
              </li>

              <li>
                On the list of Lambda Applications that appear, choose the button "Details" to get more details about a specific Application. 
              </li>
            </ol>
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->
</div>  <!--row-->
</section><!-- /.content -->
