<section class="content">
  <div class="row">
   <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">How to check what is running</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="row">
          <div class="col-md-12">
            <div class="pad"> Follow the steps described in this section to check what is running.
            </div>
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!--box box-primary-->
  </div><!--col-xs-12-->  
</div><!--row -->

<div class="row">
  <div class="col-xs-12">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title">Short guide on checking which Applications are running</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <h1>Check Running Applications</h1>

            <p>
              To view your Lambda Applications you can follow the guide show below.
            </p>

            <div class="row margin-bottom">
              <div class="col-sm-6">
                <div class="row margin-bottom">
                  <div class="col-sm-3">
                    <a href="#" data-toggle="modal" data-target="#LoginPage">
                      <img class="img-responsive" src="assets/img/faqs/login-sm.png" alt="Login" title="Login" >
                    </a>
                    <p class="text-center">Step 1</p>
                  </div>
                  <div class="col-sm-1 text-center">
                    <span class="fa fa-arrow-right"></span>
                  </div>
                  <div class="col-sm-3">
                    <a href="#" data-toggle="modal" data-target="#createStep2">
                      <img class="img-responsive" src="assets/img/faqs/lambda-application/create-sm.png" alt=" Page" title="Home Page">
                    </a>
                    <p class="text-center">Step 2</p>
                  </div>
                  <div class="col-sm-1 text-center">
                    <span class="fa fa-arrow-right"></span>
                  </div>
                  <div class="col-sm-3">
                    <a href="#" data-toggle="modal" data-target="#applist">
                      <img class="img-responsive" src="assets/img/faqs/lambda-application/check-running/step3-sm.png" alt="List Applications" title="List Applications">
                    </a>
                    <p class="text-center">Step 3</p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-sm-12 col-md-offset-9">
                    <span class="fa fa-arrow-down"></span>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-sm-3 col-md-offset-8">
                    <a href="#" data-toggle="modal" data-target="#apprunning">
                      <img class="img-responsive" src="assets/img/faqs/lambda-application/details-sm.png" alt="Application Running"  title="Application Running" >
                    </a>
                    <p class="text-center">Step 4</p>
                  </div>
                </div>
              </div>
            </div><!--row-->

            <ol>
              <li>
                Log in the LoD Service VM using your ~okeanos token.
              </li>

              <li>
                From the sidebar, select "Applications".
              </li>

              <li>
                On the list of Lambda Applications that appear, choose the button "Details" to get more details about a specific Application. 
              </li>
            </ol>
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->
</div>  <!--row-->
</section><!-- /.content -->

<!-- MODALS START -->
<!-- modal login -->
<div class="modal fade" id="LoginPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Step 1</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="assets/img/faqs/login.png" alt="Login" title="Login">
      </div>
      <div class="modal-footer">
        Login the service dashboard using your ~okeanos token
      </div>
    </div>
  </div>
</div>
<!-- modal login  end-->
<!-- modal step2-->
<div class="modal fade" id="createStep2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Step 2</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="assets/img/faqs/create.png" alt="Home" title="Home" >
      </div>
      <div class="modal-footer">
        From the sidebar, select "Applications".
      </div>
    </div> <!--<div class="modal-content">-->
  </div><!--<div class="modal-dialog"-->
</div><!--<div class="modal fade" -->
<!--- modal step3 -->
<div class="modal fade" id="applist" tabindex="-1" role="dialog" aria-labelledby="applist">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createStep3">Step 3</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="assets/img/faqs/lambda-application/list.png" alt="List Applications" title="List Applications" >
      </div>
      <div class="modal-footer">
        On the list of Lambda Applications that appear, choose the button "Details" to get more details about a specific Application.
      </div>
    </div> <!--<div class="modal-content">-->
  </div><!--<div class="modal-dialog"-->
</div><!--<div class="modal fade" -->
<!--app running-->
<!--- apprunning -->
<div class="modal fade" id="apprunning" tabindex="-1" role="dialog" aria-labelledby="apprunning">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createStep3">Step 4</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="assets/img/faqs/lambda-application/details.png" alt="Application Running"  title="Application Running" >
      </div>
      <div class="modal-footer">
        On the details page of the selected application you may see the List of Lambda Instances the Application has been deployed and the corresponding status. 
      </div>
    </div> <!--<div class="modal-content">-->
  </div><!--<div class="modal-dialog"-->
</div><!--<div class="modal fade" -->
<!-- MODALS END -->
