<section class="content">
  <div class="row">
   <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">How to view results</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="row">
          <div class="col-md-12">
            <div class="pad"> Follow the steps described in this section to view results.
            </div>
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!--box box-primary-->
  </div><!--col-xs-12-->
</div><!--row -->


<div class="row">
  <div class="col-xs-12">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title">Short guide on viewing results from a Lambda Application</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <h1>Getting Results</h1>

            <p>
              Lambda on Demand service is used to process data. This means that, to get results, you first have to provide some data.
              To do that, you should first {{#link-to 'index'}}create a LoD service VM{{/link-to}}, a {{#link-to 'faqs.lambda-instance.create'}}
              Lambda Instance{{/link-to}} and a {{#link-to 'faqs.lambda-application.create'}}Lambda Application{{/link-to}}.
            </p>

            <p>
              After you have created these three elements, follow {{#link-to 'faqs.lambda-application.run'}}this{{/link-to}} guide to find out how
              to upload your Lambda Application on your Lambda Instance using the web interface of your LoD service VM. You can follow
              {{#link-to 'faqs.lambda-application.observe-running'}}this{{/link-to}} guide to observe your runnning applications on a LoD service VM.
            </p>

            <p>
              At this point, you have successfully started a Lambda Application on a Lambda Instance. As stated before, in order to get results, you
              first have to provide some data. To send data on a Lambda Instance you can use Apache Kafka which is installed by default. Follow the
              {{#link-to 'faqs.lambda-instance.kafka-topics'}}Kafka topics guide{{/link-to}} to get information on how to send data to an Apache Kafka
              topic and also how to receive the results of your Lambda Application's processing.
            </p>
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->
</div>  <!--row-->
</section><!-- /.content -->
