<section class="content">
  <div class="row">
   <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">How to view the results on my Application</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="row">
          <div class="col-md-12">
            <div class="pad"> Follow the steps below to view the results of your Application
            </div>
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!--box box-primary-->
  </div><!--col-xs-12-->
</div><!--row -->


<div class="row">
  <div class="col-xs-12">
    <!-- DIRECT CHAT DANGER -->
    <div class="box box-success ">
      <div class="box-header with-border">
        <h3 class="box-title">Short guide on viewing the results of a Lambda Application</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <h1>Getting the Results</h1>

            <p>
              To get the results, you should {{#link-to 'faqs.lambda-application.create'}}configure{{/link-to}} your application to send them to an Apache Kafka topic. After that, you can read {{#link-to 'faqs.lambda-instance.kafka-topics'}}this{{/link-to}} guide to find out how to get the results from the topic you sent them.
            </p>
          </div><!--col-->
        </div><!--row-->
      </div><!--class="box-body"-->
    </div> <!--box-->
  </div><!--col-md-3 -->
</div>  <!--row-->
</section><!-- /.content -->
