#!/bin/bash

# The path where Apache Hadoop is installed.
INSTALLATION_PATH="{{ installation_path }}"

# The full path of the lock file to use.
LOCKFILE="$INSTALLATION_PATH/hadoop/hdfs-lock"

# The command that will start Apache HDFS.
START_COMMAND="$INSTALLATION_PATH/hadoop/sbin/start-dfs.sh"

# The command that will stop Apache HDFS.
STOP_COMMAND="$INSTALLATION_PATH/hadoop/sbin/stop-dfs.sh"

# The command that will return the status of Apache HDFS.
STATUS_COMMAND="$INSTALLATION_PATH/hadoop/bin/hdfs dfsadmin -report"

start(){
  nohup $START_COMMAND &
  RETVAL=$?
  [ $RETVAL -eq 0 ] && touch $LOCKFILE
  return $RETVAL
}

stop(){
  nohup $STOP_COMMAND &
  RETVAL=$?
  [ $RETVAL -eq 0 ] && $(rm -f $LOCKFILE)
  return $RETVAL
}

restart(){
  stop
  start
}

RETVAL=0

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart|reload|force-reload)
    restart
    ;;
  condrestart)
    [ -f $LOCKFILE ] && restart || :
    ;;
  status)
    $STATUS_COMMAND
    RETVAL=$?
    ;;
  *)
    echo "Usage: $0 {start|stop|status|restart|reload|force-reload|condrestart}"
    RETVAL=1
esac

exit $RETVAL

